@import url("https://fonts.googleapis.com/css2?family=Italianno&display=swap");
@import url(monokai.css);

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    line-height: 1.5
}

html,
body {
    color: #555;
    margin: 0;
    padding: 0
}

html {
    font-family: "Times New Roman", Times, serif;
    font-size: 14px;
    overflow-y: scroll
}

@media (min-width: 600px) {
    html {
        font-size: 16px
    }
}

body {
    -webkit-text-size-adjust: 100%
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: #353535;
    font-family: "Helvetica Neue", "Segoe UI", Helvetica, Arial, sans-serif;
    line-height: normal
}

a {
    color: #4a9ae1;
    text-decoration: none
}

blockquote {
    border-left: 0.25rem solid #e5e5e5;
    color: #979797;
    margin: .8rem 0;
    padding: .5rem 1rem
}

blockquote p:last-child {
    margin-bottom: 0
}

@media (min-width: 600px) {
    blockquote {
        padding: 0 5rem 0 1.25rem
    }
}

img {
    display: block;
    margin: 0 0 1rem;
    max-width: 100%
}

td {
    vertical-align: top
}

.post-info {
    color: #aaa;
    font-family: Palatino, "Palatino LT STD", "Palatino Linotype", "Book Antiqua", "Georgia", serif;
    letter-spacing: 0.5px;
    text-align: center
}

.post-info span {
    font-style: italic
}

.post-title {
    color: #353535;
    font-family: "Helvetica Neue", "Segoe UI", Helvetica, Arial, sans-serif;
    font-size: 3rem;
    margin: 1rem 0;
    text-align: center
}

.post-line {
    border-top: 0.4rem solid #353535;
    display: block;
    margin: 0 auto 3rem;
    width: 4rem
}

.post p {
    font-size: 1.38rem;
    letter-spacing: -0.1px;
    font-weight: 400;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    text-align: left;
    color: #000;
    margin: 0 0 1rem
}

.post li {
    font-size: 1.38rem;
    letter-spacing: -0.1px;
    font-weight: 400;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    text-align: left;
    color: #000
}

.post .small,
.post .small>li {
    font-size: 1.12rem
}

.post a:hover {
    text-decoration: underline
}

.post img {
    margin: 4rem auto
}

.post img+em {
    color: #aaa;
    display: block;
    font-family: "Helvetica Neue", "Segoe UI", Helvetica, Arial, sans-serif;
    font-size: 0.9rem;
    font-style: normal;
    text-align: center
}

pre,
code {
    font-family: Menlo, Monaco, monospace
}

code {
    background-color: #f9f9f9;
    border-radius: 3px;
    color: #bf616a;
    font-size: 85%;
    padding: .25em .5em
}

pre {
    margin: 0 0 1rem
}

pre code {
    background-color: transparent;
    color: inherit;
    font-size: 100%;
    padding: 0
}

.highlight {
    background-color: #f9f9f9;
    border-radius: 3px;
    line-height: 1.4;
    margin: 0 0 1rem;
    padding: 1rem
}

.highlight pre {
    margin-bottom: 0;
    overflow-x: auto
}

.highlight .lineno {
    color: #aaa;
    display: inline-block;
    padding: 0 .75rem 0 .25rem;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none
}

.container {
    margin: 0 auto;
    max-width: 800px;
    width: 80%
}

main,
footer,
.nav-container {
    display: block;
    margin: 0 auto;
    max-width: 700px;
    width: 80%
}

.nav {
    overflow: auto
}

.nav-container {
    margin: 1rem auto;
    position: relative;
    text-align: center
}

.nav-title {
    display: inline-block;
    font-family: 'Italianno', cursive;
    font-size: 64px;
    color: #555
}

.nav ul {
    list-style-type: none;
    margin: 1rem 0 0;
    padding: 0;
    text-align: center
}

.nav li {
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
    color: #555;
    display: inline-block;
    opacity: .6;
    padding: 0 2rem 0 0
}

.nav li:last-child {
    padding-right: 0
}

.nav li:hover,
.nav li:focus {
    opacity: 1
}

.nav ul a {
    color: #555;
    font-family: "Helvetica Neue", "Segoe UI", Helvetica, Arial, sans-serif
}

footer {
    font-family: Palatino, "Palatino LT STD", "Palatino Linotype", "Book Antiqua", "Georgia", serif;
    padding: 2rem 0;
    text-align: center
}

footer span {
    color: #555;
    font-size: .8rem
}

.pagination {
    border-top: 0.5px solid #e5e5e5;
    font-family: Palatino, "Palatino LT STD", "Palatino Linotype", "Book Antiqua", "Georgia", serif;
    padding-top: 2rem;
    position: relative;
    text-align: center
}

.pagination span {
    color: #353535;
    font-size: 1.1rem
}

.pagination .top {
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
    color: #555;
    font-family: "Helvetica Neue", "Segoe UI", Helvetica, Arial, sans-serif;
    font-size: 1.1rem;
    opacity: .6
}

.pagination .top:hover {
    opacity: 1
}

.pagination .arrow {
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
    color: #555;
    position: absolute
}

.pagination .arrow:hover,
.pagination .arrow:focus {
    opacity: .6;
    text-decoration: none
}

.pagination .left {
    left: 0
}

.pagination .right {
    right: 0
}

.catalogue-item {
    border-bottom: 1px solid #e5e5e5;
    color: #555;
    display: block;
    padding: 2rem 0
}

.catalogue-item:hover .catalogue-line,
.catalogue-item:focus .catalogue-line {
    width: 5rem
}

.catalogue-item:last-child {
    border: 0
}

.catalogue-pinned {
    color: #aaa;
    font-family: Palatino, "Palatino LT STD", "Palatino Linotype", "Book Antiqua", "Georgia", serif;
    letter-spacing: .5px
}

.catalogue-time {
    color: #aaa;
    font-family: Palatino, "Palatino LT STD", "Palatino Linotype", "Book Antiqua", "Georgia", serif;
    letter-spacing: .5px
}

.catalogue-title {
    color: #353535;
    display: block;
    font-family: "Helvetica Neue", "Segoe UI", Helvetica, Arial, sans-serif;
    font-size: 2rem;
    font-weight: 700;
    margin: .5rem 0
}

.catalogue-line {
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
    border-top: 0.2rem solid #353535;
    display: block;
    width: 2rem
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 3rem 0 1rem
}

h3 {
    color: #555;
    font-weight: 500;
    font-size: 1.38rem;
    margin-bottom: 0.5rem
}

h4 {
    font-size: 1.38rem
}